<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.obo.mapper.AddressMapper">
	<!-- 주소추가 : 추가한 주소 id 가져오기-->
	<insert id="insertAddress" parameterType="com.gd.obo.vo.Address">
		<selectKey resultType="int" keyProperty="addressId" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO address(post_code, doro, detail_address) VALUES( #{postCode}, #{doro}, #{detailAddress})
	</insert>
</mapper>