<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.obo.mapper.staff.AnimalMapper">
	
	<!-- 직원이 자기 보호소 동물 리스트 조회 -->
	<select id="selectAnimalList" resultType="java.util.Map" parameterType="java.util.Map"> 
		SELECT 
   			a.animal_id animalId,
		    a.shelter_id shelterId,
		    af.animal_file_name animalFileName,
		    ac.species species,
		    a.animal_name animalName,
		    a.animal_age animalAge,
		    a.animal_sex animalSex,
		    a.animal_weight animalWeight,
		    a.animal_kind animalKind,
		    a.animal_find_place animalFindPlace,
		    a.animal_enter_date animalEnterDate,
		    a.animal_state animalState
		FROM animal AS a
    	INNER JOIN animal_file AS af ON af.animal_id = a.animal_id
    	INNER JOIN animal_category AS ac ON ac.animal_category_id = a.animal_category_id
		<where>
			 a.shelter_id = 1
			
			
			<if test = "searchWord != null">
				AND animalName LIKE CONCAT('%', #{searchWord}, '%')
			</if>
		</where>    
		ORDER BY animalEnterDate ASC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	
	<select id="selectAnimalTotal" resultType="int" parameterType="java.util.Map">
		SELECT COUNT(*)
		FROM animal
		<where>
			shelter_id = 1 
			
			<if test = "searchWord != null">
				AND animalName LIKE CONCAT('%', #{searchWord}, '%')
			</if>
		</where>
	</select>
</mapper>