<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.obo.mapper.BoardMapper">
	
	<!-- 게시판 수정 -->
	<update id="updateBoard" parameterType="com.gd.obo.vo.Board">
		UPDATE board
		SET
			board_category_id=#{boardCategoryId},
			animal_category_id=#{animalCategoryId},
			board_title = #{boardTitle},
			board_content = #{boardContent},
			update_date = NOW()
		WHERE
			board_id=#{boardId}
	
	</update>
	
	<!-- 게시판 파일 리스트 -->
	<select id="selectBoardFileByBoard" parameterType="Integer" resultType="com.gd.obo.vo.BoardFile">
		SELECT 
			board_file_id boardFileId,
			board_id boardId,
			board_file_original_name boardFileOriginalName,
			board_file_name boardFileName,
			board_file_size boardFileSize,
			board_file_ext boardFileExt,
			create_date createDate
		FROM
			board_file
		WHERE
			board_id = #{boardId}			 
	</select>
	
	<!-- 게시판 삭제 -->
	<delete id="deleteBoard" parameterType="Integer">
		DELETE FROM board
		WHERE board_id=#{boardId}
	</delete>

	<!-- 게시판 삭제시 파일 삭제 -->
	<delete id="deleteBoardFileByBoard" parameterType="Integer">
		DELETE FROM board_file
		WHERE board_id = #{boardId}
	</delete>
	
	<!-- 게시판 카테고리 리스트 -->
	<select id="selectBoardCategoryList" resultType="java.util.Map">
		SELECT 
			board_category_id boardCategoryId,
			board_category_name boardCategoryName
		FROM board_category
	</select>
	
	<!-- 게시판 추가 -->
	<insert id="insertBoard" parameterType="com.gd.obo.vo.Board">
		<selectKey keyProperty="boardId" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO 
			board
			(	board_category_id,
				member_id,
				animal_category_id,
				board_title,
				board_content,
				create_date,
				update_date)
		VALUES
			(
				#{boardCategoryId},
				#{memberId},
				#{animalCategoryId},
				#{boardTitle},
				#{boardContent},
				NOW(),
				NOW()
			)		
	</insert>
	
	<!-- 게시판 상세보기 -->
	<select id="selectBoardOne" resultType="java.util.Map" parameterType="Integer">
		SELECT
			b.board_id boardId,
			bc.board_category_name boardCN,
			ac.species species,
			b.member_id memberId,
			b.board_content boardContent,
			b.board_title boardTitle,
			b.create_date createDate,
			b.update_date updateDate
		FROM
			board b, board_category bc, animal_category ac
		WHERE
			b.board_category_id=bc.board_category_id 
		AND
			b.animal_category_id = ac.animal_category_id
		AND 
			board_id=#{boardId}
		
	</select>
	<!-- 게시판 리스트 -->
	<select id="selectBoardList" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT
			b.board_id boardId,
			b.member_id memberId,
			b.animal_category_id animalCategoryId,
			ac.species,
			b.board_title boardTitle,
			bc.board_category_name boardCategoryName
		FROM board b, animal_category ac, board_category bc
		WHERE b.animal_category_id = ac.animal_category_id
		AND b.board_category_id=bc.board_category_id 
			<if test="boardTitle != null">
				AND board_title LIKE CONCAT('%',#{boardTitle},'%')
			</if>
			<if test="species != null">
				AND species =#{species}
			</if>
		ORDER BY b.board_id DESC	
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="selectTotal" resultType="Integer">
		SELECT COUNT(*) 
		FROM board
	</select>
</mapper>