<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.obo.mapper.CareMapper">

	<!-- careinfo list 불러오기 -->
	<select id="selectCareInfoList" resultType="java.util.Map">
		SELECT
			ci.care_info_id careInfoId,
			ac.species species,
			ci.care_sorting careSorting,
			ci.care_info_content careInfoContent,
			ci.care_time careTime
		FROM animal_category ac, care_info ci
		<where>
			ac.animal_category_id = ci.animal_category_id
			<if test="searchWord != null">
				AND ci.care_info_content LIKE CONCAT('%', #{searchWord}, '%')
			</if>
			<if test="species != null">
				AND ac.species = #{species}
			</if>
			<if test="careSorting != null">
				AND ci.care_sorting = #{careSorting}
			</if>
		</where>
		ORDER BY ci.care_info_id ASC;
	</select>
	
	<!-- care info 분류 선택할 때 사용 -->
	<select id="selectCareInfoByCarePlan" parameterType="int" resultType="java.util.Map">
		SELECT
			care_info_id AS careInfoId,
			CONCAT(care_sorting, '-', care_info_content) AS careSorting
		FROM care_info
		WHERE animal_category_id = #{animalCategoryId} AND care_sorting != '정기검진'
		ORDER BY care_sorting, care_info_content ASC;
	</select>
	
	<!-- 선택한 care info 자동 계산위한 값 -->
	<select id="selectCarePlanDay" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.animal_id AS animalId,
			ci.care_info_id AS careInfoId,
			ci.animal_category_id AS animalCategoryId,
			ci.care_sorting AS careSorting,
			ci.care_info_content AS careInfoContent,
			ci.care_time careTime,
			DATE(ad.adopt_date) AS `입양일`,
			DATE_ADD(date(ad.adopt_date), INTERVAL 52 week) AS `정기검진`,
			DATE_ADD(date(ad.adopt_date), INTERVAL ci.care_time week) AS `careDate`
		FROM animal AS a, care_info AS ci, adopt AS ad, adopt_apply AS aa
		<where>
			a.animal_category_id = ci.animal_category_id
			AND ad.adopt_apply_id = aa.adopt_apply_id
			AND aa.animal_id = a.animal_id
			AND a.shelter_id = #{shelterId}
			AND a.animal_id = #{animalId}
			AND ci.care_info_id = #{careInfoId}
		</where>
	</select>
	
	<select id="selectCarePlanList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			DATEDIFF(cp.care_date, NOW()) AS dDay,
			a.animal_name AS animalName,
			CONCAT(ci.care_sorting, '-', ci.care_info_content) AS careInfo,
			m.member_id AS memberId,
			m.member_name AS memberName,
			cp.staff_id AS staffId,
			DATE(ad.adopt_date) AS adoptDate,
			DATE(cp.care_date) AS careDate
		FROM care_plan AS cp, care_info AS ci, member AS m, animal AS a,
			adopt_apply AS aa, adopt AS ad
		<where>
			cp.care_info_id = ci.care_info_id AND cp.animal_id = a.animal_id
			AND cp.member_id = m.member_id AND aa.animal_id = a.animal_id
			AND ad.adopt_apply_id = aa.adopt_apply_id
			AND a.shelter_id = #{shelterId}
			<if test="limitDate != 14">
				AND DATEDIFF(cp.care_date, NOW()) <![CDATA[<]]>= 14
			</if>
		</where>	
		ORDER BY careDate ASC;
	</select>
	
	<select id="selectCarePlanRecordList" parameterType="int" resultType="java.util.Map">
		SELECT
			a.animal_name AS animalName,
			CONCAT(ci.care_sorting, '-', ci.care_info_content) AS careInfo,
			m.member_id AS memberId,
			m.member_name AS memberName,
			cr.staff_id_check AS staffId,
			DATE(cr.record_date) AS recordDate,
			cr.features AS features
		FROM care_plan AS cp, care_info AS ci, member AS m, animal AS a,
			adopt_apply AS aa, adopt AS ad, care_record AS cr
		WHERE cp.care_info_id = ci.care_info_id AND cp.animal_id = a.animal_id
			AND cp.member_id = m.member_id AND aa.animal_id = a.animal_id
			AND cp.care_plan_id = cr.care_plan_id
			AND ad.adopt_apply_id = aa.adopt_apply_id
			AND a.shelter_id = #{shelterId}
		ORDER BY recordDate DESC;
	</select>
	
	<insert id="insertCarePlan" parameterType="java.util.Map">
		INSERT INTO care_plan(
			animal_id,
			member_id,
			staff_id,
			care_info_id,
			care_date,
			create_date
		) VALUE(
			#{animalId},
			#{memberId},
			#{staffId},
			#{careInfoId},
			#{careDate},
			NOW()
		)
	</insert>
</mapper>