<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.obo.mapper.DonationMapper">
	<!-- 내정보 / 후원내역/ 물품후원 목록 / 상세보기 -->
	<select id="selectDonationItemOne" parameterType="int" resultType="java.util.Map">
		SELECT 
			d.donation_item_list_id donationItemListId, 
			DATE(d.donation_date) donationDate, 
			d.item_name itemName, 
			d.item_quantity itemQuantity, 
			s.shelter_name shelterName,
			i.item_category_name itemCategoryName,
			d.item_description itemDescription
		FROM 
			donation_item_list d 
			INNER JOIN shelter s ON d.shelter_id = s.shelter_id 
			INNER JOIN item_category i ON d.item_category_id=i.item_category_id
		WHERE d.donation_item_list_id = #{donationItemListId}
	</select>
	<select id="selectDonationItemByMemberIdTotal" parameterType="java.lang.String" resultType="int">
		SELECT 
			COUNT(*)
		FROM 
			donation_item_list
		WHERE member_id = #{memberId}
	
	</select>
	<!-- 내정보 / 후원내역 / 물품후원 목록 -->
	<select id="selectDonationItemByMemberId" parameterType="java.util.Map" resultType="java.util.Map" >
		SELECT 
			d.donation_item_list_id donationItemListId, 
			DATE(d.donation_date) donationDate, 
			d.item_name itemName, 
			d.item_quantity itemQuantity, 
			s.shelter_name shelterName, 
			i.item_category_name itemCategoryName
		FROM 
			donation_item_list d 
			INNER JOIN shelter s ON d.shelter_id = s.shelter_id 
			INNER JOIN item_category i ON d.item_category_id=i.item_category_id
		WHERE member_id = #{memberId}
		ORDER BY donationDate DESC
		LIMIT #{beginRow}, #{rowPerPage}	
	</select>
	<!-- 물품후원 insert -->
	<insert id="insertDonationItemList" parameterType="com.gd.obo.vo.DonationItemList">
		INSERT INTO donation_item_list(
			member_id,
			shelter_id,
			item_category_id,
			item_name,
			item_quantity,
			item_description,
			donation_date
		) VALUES(
			#{memberId},
			#{shelterId},
			#{itemCategoryId},
			#{itemName},
			#{itemQuantity},
			#{itemDescription},
			NOW()
		)
	</insert>
	<!-- 물품 후원을 위한 물품카테고리 -->
	<select id="selectItemCategoryList" resultType="com.gd.obo.vo.ItemCategory">
		SELECT 
			item_category_id itemCategoryId, 
			item_category_name itemCategoryName 
		FROM item_category
	</select>
	<!-- 회원별 전체 후원금액 -->
	<select id="selectTotalMoneyByMemberId" resultType="int" parameterType="java.lang.String">
		SELECT SUM(amount) totalDonation FROM full_money_donation_list WHERE member_id = #{memberId}
	</select>
	<select id="selectFullMoneyDonationListByMemberIdTotal" resultType="int" parameterType="java.lang.String">
		SELECT 
			COUNT(*)
		FROM full_money_donation_list 
		WHERE member_id = #{memberId}
	</select>
	<!-- 내정보/후원내역/총후원내역 -->
	<select id="selectFullMoneyDonationListByMemberId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT 
			shelter_name shelterName, 
			amount amount, 
			DATE(donation_date) donationDate, 
			kind kind 
		FROM full_money_donation_list 
		WHERE member_id = #{memberId}
		ORDER BY donationDate DESC
		LIMIT #{beginRow}, #{rowPerPage}		
	</select>
	<!-- 내정보/후원내역/정기후원목록 토탈-->
	<select id="selectPeriodicallyDonationByMemberIdTotal" resultType="int" parameterType="java.lang.String">
		SELECT 
			COUNT(*)
		FROM 
			periodically_donation
		WHERE member_id = #{memberId}
		
	</select>
	<!-- 내정보/후원내역/정기후원목록 -->
	<select id="selectPeriodicallyDonationByMemberId" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT 
			p.periodically_donation_id periodicallyDonationId, 
			p.shelter_id shelterId, 
			DATE(p.apply_date) applyDate, 
			DATE(p.end_date) endDate, 
			p.amount amount, 
			s.shelter_name shelterName
		FROM 
			periodically_donation p 
			INNER JOIN shelter s ON p.shelter_id = s.shelter_id
		WHERE p.member_id = #{memberId}
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	<update id="updatePeriodicallyDonationByEndDate" parameterType="int">
		UPDATE periodically_donation SET end_date = NOW() WHERE periodically_donation_id = #{periodicallyDonationId}
	</update>
	<!-- 정기결제 끊기! -->
	<select id="selectPeriodicallyDonationByPeriodicallyDonationId" resultType="java.lang.String" parameterType="int">
		SELECT 
			sid sid 
		FROM 
			periodically_donation 
		WHERE 
			periodically_donation_id = #{periodicallyDonationId}
	</select>
	<!-- 정기결제를 위한 정기결제중 리스트 -->
	<select id="selectPeriodicallyDonationBYEndDateISNULL" resultType="com.gd.obo.vo.PeriodicallyDonation">
		SELECT 
			periodically_donation_id periodicallyDonationId, 
			member_id memberId, 
			shelter_id shelterId, 
			amount amount, 
			sid sid
		FROM 
			periodically_donation 
		WHERE 
			end_date IS NULL
	</select>
	<!-- 정기결제 기록테이블 삽입 -->
	<insert id="insertPeriodicallyDonationList" parameterType="int">
		INSERT periodically_donation_list(
			periodically_donation_id, 
			deposit_date
		) VALUES(
			#{periodicallyDonationId}, 
			NOW()
		)
	</insert>
	<!-- 정기결제 테이블 삽입 -->
	<insert id="insertPeriodicallyDonation" parameterType="com.gd.obo.vo.PeriodicallyDonation">
		<selectKey resultType="int" keyProperty="periodicallyDonationId" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	
		INSERT INTO periodically_donation(
			member_id, 
			shelter_id, 
			apply_date, 
			amount, 
			sid
		) VALUES(
			#{memberId}, 
			#{shelterId}, 
			NOW(), 
			#{amount} ,
			#{sid}
		)
	</insert>
	<insert id="insertDonationMoneyList" parameterType="com.gd.obo.vo.DonationMoneyList">
		INSERT INTO donation_money_list(
			member_id, 
			shelter_id, 
			amount, 
			donation_date
		) VALUES(
			#{memberId}, 
			#{shelterId}, 
			#{amount}, 
			NOW()
		)
	</insert>
	<select id="selectDonationItemList" parameterType="int" resultType="com.gd.obo.vo.DonationItemList">
		SELECT
			donation_item_list_id donationItemListId,
			member_id memberId,
			shelter_id shelterId,
			item_category_id itemCategoryId,
			donation_date donationDate,
			item_name itemName,
			item_quantity itemQuantity,
			item_description itemDescription
		FROM donation_item_list
		WHERE shelter_id = #{shelterId}
		ORDER BY donation_date DESC;
	</select>
	
	<select id="selectDonationMoneyNList" parameterType="int" resultType="com.gd.obo.vo.DonationMoneyList">
		SELECT
			donation_money_list_id donationMoneyListId,
			member_id memberId,
			shelter_id shelterId,
			donation_date donationDate,
			amount amount
		FROM donation_money_list
		WHERE shelter_id = #{shelterId}
		ORDER BY donation_date DESC;
	</select>
	
	<select id="selectDonationMoneyPList" parameterType="int" resultType="com.gd.obo.vo.PeriodicallyDonation">
		SELECT
			periodically_donation_id periodicallyDonationId,
			member_id memberId,
			shelter_id shelterId,
			end_date endDate,
			apply_date applyDate,
			amount amount,
			sid sid
		FROM periodically_donation
		WHERE shelter_id = #{shelterId}
		ORDER BY apply_date DESC;
	</select>

</mapper>