<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.obo.mapper.main.MainShelterMapper">
	<select id="selectShelterList" resultType="com.gd.obo.vo.Shelter">
		SELECT 
			shelter_id shelterId, 
			shelter_name shelterName, 
			create_date createDate, 
			shelter_phone shelterPhone
		FROM shelter		
		ORDER BY shelter_id ASC		
	</select>
	
	<select id="selectTotal" resultType="Integer">
		SELECT COUNT(*) 
		FROM shelter		
	</select>
	
	<select id="selectShelterOne" parameterType="Integer">
		SELECT
			shelter_id shelterId,
			address_id addressId,
			shelter_name shelterName,
			create_date createDate,
			introduction,
			protect_duration protectDuration,
			shelter_phone shelterPhone,
			account,
			active
		FROM shelter
		WHERE shelter_id = #{shelterId}
	</select>	
</mapper>