<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.obo.mapper.ShelterMapper">


	<!-- 보호소 파일 리스트 -->
	<select id="selectShelterFileByShelter" resultType="com.gd.obo.vo.ShelterFile" parameterType="Integer">
		SELECT
			shelter_file_id shelterFileId,
			shelter_id shelterId,
			shelter_file_name shelterFileName,
			shelter_file_size shelterFileSize,
			shelter_file_ext shelterFileExt,
			upload_date uploadDate
		FROM 
			shelter_file
		WHERE
			shelter_id = #{shelterId}		
	</select>	
	
	
	<!-- 보호소 수정 -->
	<update id="updateShelter" parameterType="com.gd.obo.vo.Shelter">
		UPDATE shelter
		SET
			introduction = #{introduction},
			protect_duration = #{protectDuration},
			shelter_phone = #{shelterPhone},
			account = #{account},
			active = #{active}
		WHERE shelter_id = #{shelterId}	
	</update>
	
	
	<!-- 후원용 쉘터 목록 -->
	<select id="selectShelterListByDonation" resultType="com.gd.obo.vo.Shelter">
		SELECT 
			shelter_id shelterId, 
			shelter_name shelterName, 
			account account 
		FROM shelter
	</select>
	
	<!-- 보호소 목록. 검색어는 이름, 지역. -->
	<select id="selectShelterList" resultType="com.gd.obo.vo.ShelterAddress" parameterType="java.util.Map">
		SELECT 
			s.shelter_id shelterId,
			sf.shelter_file_id shelterFileId,
			s.shelter_name shelterName, 
			s.create_date createDate, 
			s.shelter_phone shelterPhone,
			s.account account,
			s.protect_duration protectDuration,
			a.post_code postCode,
			a.doro doro,
			a.detail_address detailAddress
		FROM shelter s
		LEFT JOIN shelter_file sf
		ON s.shelter_id = sf.shelter_id
		JOIN address a
		ON s.address_id = a.address_id
		<where>
			<if test="shelterName != null">
				AND s.shelter_name LIKE CONCAT('%',#{shelterName},'%')
			</if>
			<if test="searchAddress != null">
				AND a.doro LIKE CONCAT('%',#{searchAddress},'%')
			</if>
		</where>	
		ORDER BY s.shelter_id ASC		
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="selectTotal" parameterType="java.util.Map" resultType="Integer">
		SELECT COUNT(*) 
		FROM shelter s JOIN address a ON s.address_id = a.address_id
		<where>
			<if test="shelterName != null">
				AND s.shelter_name LIKE CONCAT('%',#{shelterName},'%')
			</if>
			<if test="searchAddress != null">
				AND a.doro LIKE CONCAT('%',#{searchAddress},'%')
			</if>
		</where>
	</select>
	
	<select id="selectShelterOne" parameterType="Integer" resultType="java.util.Map">
		SELECT
			s.shelter_id shelterId,
			s.address_id addressId,
			s.shelter_name shelterName,
			DATE(s.create_date) createDate,
			s.introduction,
			s.protect_duration protectDuration,
			s.shelter_phone shelterPhone,
			s.account account,
			s.active active,
			a.post_code postCode,
			a.doro doro,
			a.detail_address detailAddress
		FROM shelter s LEFT JOIN address a ON s.address_id = a.address_id
		WHERE shelter_id =  #{shelterId}
	</select>
	
	<select id="selectShelterName" parameterType="String" resultType="com.gd.obo.vo.Shelter">
		SELECT
			shelter_id shelterId,
			shelter_name shelterName
		FROM shelter
		WHERE shelter_name LIKE CONCAT('%', #{searchWord}, '%');
	</select>
	
	<!-- 보호소 등록 주소는 addressnmapper에서.-->
	<insert id="insertShelter" parameterType="com.gd.obo.vo.Shelter">
		INSERT INTO shelter(address_id, shelter_name, create_date, introduction, protect_duration, shelter_phone, account) 
			VALUES(#{addressId}, #{shelterName}, NOW(), #{introduction}, #{protectDuration}, #{shelterPhone}, #{account})
	</insert>
	
</mapper>