<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.obo.mapper.StaffMapper">
	<!-- staff 로그인 -->
	<select id="selectStaffByLogin" parameterType="com.gd.obo.vo.Staff" resultType="com.gd.obo.vo.Staff">
		SELECT
			staff_id staffId,
			staff_name staffName,
			shelter_id shelterId,
			staff_level staffLevel
		FROM staff
		WHERE staff_id = #{staffId} AND staff_pw = PASSWORD(#{staffPw});
	</select>
	
	<!-- staff 로그인 유효성 -->
	<select id="selectStaffLoginCk" parameterType="com.gd.obo.vo.Staff" resultType="int">
		SELECT 
			COUNT(*)
		FROM staff
		WHERE staff_id = #{staffId} AND staff_pw = PASSWORD(#{staffPw});
	</select>
	
	<!-- staff 상세보기 -->
	<select id="selectStaffOne" parameterType="String" resultType="com.gd.obo.vo.Staff">
		SELECT
			staff_id staffId,
			staff_email staffEmail,
			shelter_id shelterId,
			staff_name staffName,
			staff_phone staffPhone,
			staff_level staffLevel
		FROM staff
		WHERE staff_id = #{staffId};
	</select>
	
	<!-- staff level 수정 -->
	<select id="selectStaffLevel0" parameterType="int" resultType="com.gd.obo.vo.Staff">
		SELECT
			staff_id staffId,
			staff_name staffName
		FROM staff
		WHERE shelter_id = #{shelterId} AND staff_level = 0;
	</select>
	
	<!-- staff 회원가입 id 중복확인 -->
	<select id="selectStaffIdCheck" parameterType="String" resultType="int">
		SELECT
			COUNT(*)
		FROM staff
		WHERE staff_id = #{staffId};
	
	</select>
	
	<!-- staff 추가 -->
	<insert id="insertStaff" parameterType="com.gd.obo.vo.Staff">
		INSERT INTO staff(
			staff_id,
			staff_email,
			shelter_id,
			staff_name,
			staff_phone,
			staff_active,
			staff_level,
			staff_pw,
			update_date
		) VALUE(
			#{staffId},
			#{staffEmail},
			#{shelterId},
			#{staffName},
			#{staffPhone},
			1,
			0,
			PASSWORD(#{staffPw}),
			NOW()
		);
	</insert>
	
	<!-- 마스터 staff 추가. shelterId와 같이 등록할거라 shelterId 등록 되면 id 받아온다. -->
	<insert id="insertMasterStaff" parameterType="com.gd.obo.vo.Staff">
		<selectKey resultType="Integer" keyProperty="shelterId" order="BEFORE">
	 		SELECT LAST_INSERT_ID()
	 	</selectKey>
		INSERT INTO staff(
			staff_id,
			staff_email,
			shelter_id,
			staff_name,
			staff_phone,
			staff_active,
			staff_level,
			staff_pw,
			update_date
		) VALUE(
			#{staffId},
			#{staffEmail},
			#{shelterId},
			#{staffName},
			#{staffPhone},
			'1',
			'2',
			PASSWORD(#{staffPw}),
			NOW()
		);
	</insert>
	
	<!-- staff 정보수정 -->
	<update id="updateStaff" parameterType="com.gd.obo.vo.Staff">
		UPDATE staff SET
			staff_email = #{staffEmail},
			staff_name = #{staffName},
			<if test="staffPw != null">
				staff_pw = PASSWORD(#{staffPw}),
			</if>
			staff_phone = #{staffPhone}
		WHERE staff_id = #{staffId};
	</update>
	
	<!-- staff level 수정 -->
	<update id="updateStaffLevel" parameterType="String">
		UPDATE staff SET
			staff_level = 1
		WHERE staff_id = #{staffId};
	</update>
</mapper>